<div layout="column">
  <md-toolbar>
    <div class="welcome md-headline">
      <span flex></span>
      <h2 class="text-center">Sanitation Station</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <br/>

  <md-content>
  <div class="md-padding" layout="row" layout-align="" flex-offset="35">
    <div flex="40">

    <div class="ext-content">
      <md-input-container class="navButtons" layout="row" flex-gt-sm="">
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/employees">Employees</md-button>
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/routes">Routes</md-button>
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/invoicing">Invoicing</md-button>
      </md-input-container>

      <md-grid-list md-cols-xs="6" md-cols-sm="6" md-cols-md="8" md-cols-lg="8" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile md-rowspan-xs="11" md-rowspan-sm="11" md-rowspan-md="15" md-rowspan-lg="15" md-rowspan-lg="3" md-colspan="8" md-colspan-sm="6" md-colspan-xs="6">
          <div layout-padding class="md-no-momentum">

            <h2 class="md-title newRouteTitle">Create a New Location and Save it to a Specific Route:</h2>

            <form>
              <md-input-container class="md-block" flex-gt-sm="">
                <input required="" type="number" name="account_id" ng-model="newLocation.account_id" placeholder="Client Account #">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <input required="" type="text" name="address"  ng-model="newLocation.address" placeholder="Street Address">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <input required="" type="text" name="city"  ng-model="newLocation.city" placeholder="City">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <input required="" type="text" name="state"  ng-model="newLocation.state" placeholder="State" maxlength="2">
              </md-input-container>

              <md-input-container class="md-block">
                <input required="" type="number" name="zip"  ng-model="newLocation.zip" placeholder="Zip Code" maxlength="5">
              </md-input-container>

              <md-input-container class="md-block">
                <input required="" type="number" name="route_id" ng-model="newLocation.route_id" placeholder="Route #">
              </md-input-container>

              <section layout="row" layout-align="start center" layout-wrap="">
                <md-button class="md-raised" flex-order="-1" flex="-2" md-colors="{background: 'red-500'}" ng-href="/#/admin/routes">Cancel</md-button>
                <md-button class="md-raised" flex-order="1" flex="" md-colors="{background: 'blue-700'}" ng-click="createNewLocation(newLocation)">Save Location</md-button>
              </section>
            </form>
          </div>

        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>

  <div flex="25" flex-offset="20">
    <section class="userBox" ng-init="isLoggedIn()" layout="column">
      <p class="userNameBox" flex>Welcome, {{userInfo.first_name}}!</p>
      <p class="empNum" flex><span>Employee #</span>: {{userInfo.employee_id}}</p>
      <md-button flex class="md-accent md-hue-2 logout" md-colors="{color: 'cyan-600'}" ng-click="logoutUser()">Log Out</md-button>
    </section>
  </div>

</div>
</md-content>

</div>
