<div layout="column">
  <md-toolbar>
    <div class="welcome md-headline">
      <span flex></span>
      <h2 class="text-center">Sanitation Station</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <br/>

  <div layout="row" layout-padding layout-align="space-around center" class="tabsdemoDynamicHeight">


  <md-content class="md-padding">
    <section>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/employees">Employees</md-button>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/routes">Routes</md-button>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/invoicing">Invoicing</md-button>
    </section>
    <div class="ext-content">

    </div>
  </md-content>
</div>

</div>
