<div layout="column">
  <md-toolbar>
    <div class="welcome md-headline">
      <span flex></span>
      <h2 class="text-center">Sanitation Station</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <div layout="row" layout-padding layout-align="space-around center" class="tabsdemoDynamicHeight">

    <md-content class="md-padding">

      <section>
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/employees">Employees</md-button>
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/routes">Routes</md-button>
        <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/invoicing">Invoicing</md-button>
      </section>
      <div class="ext-content" data-ng-init="initRoutes()">
        <section layout="column" layout-align="center start" layout-margin>
          <div ng-repeat="route in routes">
            <a class="routeLink" href="#/admin/routes/{{route.route_id}}" ng-click="grabRouteID(route.route_id)">Route {{route.route_id}}</a>
          </div>
        </section>
        <section layout="row" layout-xs="column" layout-align="end center" layout-wrap="">
          <md-button class="md-raised" md-colors="{background: 'blue-700'}" ng-href="#/admin/new_route">Create New Location</md-button>
        </section>
      </div>

    </md-content>
  </div>
</div>
