<div layout="column">
  <md-toolbar>
    <div class="welcome md-headline">
      <span flex></span>
      <h2 class="text-center">Sanitation Station</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <br/>

  <div layout="row" layout-padding layout-align="space-around center" class="tabsdemoDynamicHeight">


  <md-content class="md-padding">
    <section>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/employees">Employees</md-button>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/routes" ng-click="initRoutes()">Routes</md-button>
      <md-button class="md-accent md-hue-2" md-colors="{color: 'purple-600'}" ng-href="#/admin/invoicing">Invoicing</md-button>
    </section>
    <div class="ext-content"> <!-- data-ng-init="init()" -->
          <ng-map class="map" default-style="true" center="{{firstPosition}}" zoom="14">
            <marker ng-repeat="location in locations"
            position="[{{location.latitude}},{{location.longitude}}]"
              on-click="vm.showDetail(location)"
              icon="{{location.icon}}">
            </marker>

            <info-window id="infoWindow">
              <div> <!-- Took out ng-non-bindable="" in this div -->
                <div class="address">{{vm.location.address}}</div>
                <div class="address">{{vm.location.city}}, {{vm.location.state}} {{vm.location.zip}}</div>
                <div class="accountNum"><span>Account #: </span>{{vm.location.account_id}}</div>
                <div class="customerActive">
                  <button ng-click="vm.activateClicked()">Activate</button>
                </div>
                <div class="customerWarn">
                  <button ng-click="vm.warningClicked()">Warning</button>
                </div>
                <div class="customerCancel">
                  <button ng-click="vm.cancelClicked()">Cancel</button>
                </div>
              </div>
            </info-window>
          </ng-map>


    </div>
  </md-content>
</div>

</div>
