.welcome {
    background-color: #00897B;
    text-align: center;
    color: white;
}
/*button.md-raised.loginBtn.md-button.md-ink-ripple {
    background-color: #1565C0;
    color: white;
}

span.ng-scope {
    color: #1565C0;
}*/
input#input_0 {
    width: 250px;
    margin-bottom: 25px;
}
.md-button.md-accent {
    color: #3D5AFE;
}
md-nav-bar md-nav-ink-bar {
    color: #3D5AFE;
    background: #3D5AFE;
}
.map {
    height: 500px;
    width: 600px;
    margin: 25px;
}

.custom-marker {
  font-size: 1.5em;
  padding: 10px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: #7F7F7F solid 1px;
}

.custom-marker:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 6px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -6px;
  bottom: -6px;
  left: 50%;
}
.custom-marker:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 6px 0;
  border-color: #7F7F7F transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -6px;
  bottom: -7px;
  left: 50%;
}
.customerActive > button {
  width: 165px;
  background-color: green;
  color: white;
  margin: 2px 0;
  border: 1px solid green;
  border-radius: 5px;
}
.customerActive > button:hover {
  background-color: white;
  color: green;
}
.customerWarn > button {
  width: 165px;
  background-color: #FF6F00;
  color: white;
  margin: 2px 0;
  border: 1px solid #FF6F00;
  border-radius: 5px;
}
.customerWarn > button:hover {
  background-color: white;
  color: #FF6F00;
}
.customerCancel > button  {
  width: 165px;
  background-color: #B0BEC5;
  color: white;
  margin: 2px 0;
  border: 1px solid #B0BEC5;
  border-radius: 5px;
}
.customerCancel > button:hover  {
  background-color: white;
  color: #B0BEC5;
}
.trashDisplayStatus {
  font-size: 14px;
  margin: 10px 0 2px 0;
  padding: 0 0 0 3px;
}
.trashDisplayStatus > span {
  font-weight: bold;
}
.trashCollected > button {
  width: 165px;
  background-color: #2E7D32;
  color: white;
  margin: 2px 0;
  border: 1px solid #2E7D32;
  border-radius: 5px;
}
.trashCollected > button:hover {
  background-color: white;
  color: #2E7D32;
}
.noTrashCollected > button {
  width: 165px;
  background-color: #607D8B;
  color: white;
  margin: 2px 0;
  border: 1px solid #607D8B;
  border-radius: 5px;
}
.noTrashCollected > button:hover {
  background-color: white;
  color: #607D8B;
}
.overflowingBin > button {
  width: 165px;
  background-color: #E53935;
  color: white;
  margin: 2px 0;
  border: 1px solid #E53935;
  border-radius: 5px;
}
.overflowingBin > button:hover {
  background-color: white;
  color: #E53935;
}
.accountNum {
  font-size: 14px;
  background-color: #90CAF9;
  margin: 0 0 2px 0;
  padding: 0 0 0 3px;
}
.accountNum > span {
  font-weight: bold;
}
.address {
  font-size: 16px;
  margin: 0 0 2px 0;
}
.md-accent {
  border-bottom: 1px solid;
  border-radius: 0%;
}
.routeLink {
  color: #388E3C;
  padding: 5px;
}
.routeLink:hover {
  background-color: #4CAF50;
  color: white;
  border-radius: 3px;
  border: 1px solid #4CAF50;
  text-decoration: none;
  padding: 5px;
}
.employeeLink {
  color: #3949AB;
  padding: 5px;
}
.employeeLink:hover {
  background-color: #3D5AFE;
  color: white;
  border-radius: 3px;
  border: 1px solid #3D5AFE;
  text-decoration: none;
  padding: 5px;
}
.newRouteTitle {
  text-align: center;
  background-color: #E1F5FE;
  color: #1565C0;
}
.alertMessage {
  text-align: center;
  /*background-color: #E1F5FE;*/
  color: #1565C0;
}
