.welcome {
    background-color: #00897B;
    text-align: center;
}

/*button.md-raised.loginBtn.md-button.md-ink-ripple {
    background-color: #1565C0;
    color: white;
}

span.ng-scope {
    color: #1565C0;
}*/

input#input_0 {
    width: 250px;
    margin-bottom: 25px;
}


/*.loginUsage section {
  margin: 1em;
  position: relative !important;
}*/

/*.loginUsage md-content {
  margin-right: 7px; }*/

/*.loginUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }*/

  /*.loginUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }*/
