.loginUsage > h2 {
    font-weight: bold;
}

input#input_0 {
    width: 250px;
}

/*.loginUsage section {
  margin: 1em;
  position: relative !important;
}*/

/*.loginUsage md-content {
  margin-right: 7px; }*/

/*.loginUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }*/

  /*.loginUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }*/
