<h1 class="welcome">Welcome to Sanitation Station</h1>

<div class="container">
  <form>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="text" class="registerInput" name="first_name" placeholder="First Name"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="text" class="registerInput" name="last_name" placeholder="Last Name"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="number" class="registerInput" name="employee_id" placeholder="Employee #"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="email" class="registerInput" name="email" placeholder="Email Address"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="text" class="registerInput" name="username" placeholder="Username"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4">
        <input type="password" class="registerInput" name="password" placeholder="Password"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-xs-offset-4">
        <button class="cancel">Cancel</button>
      </div>
      <div class="col-xs-2">
        <button class="submitNewUser">Submit New User</button>
      </div>
    </div>
  </form>
</div>
